html {
    font-size: min(calc(12px + 0.5vw), 16px);
}
.wrapper-120 {
    overflow-x: clip;
}


.tabs-vertical {
    color: white;
    transition: all 0.6s;
    position: relative;
}

.tab-vertical-active-indicator {
    /* top: unset; */
    /* position: absolute; */
    left: 0;
    transition: all 0.8s;
}

.tab .heading-medium {
    cursor: pointer;
}

.tab {
    opacity: 0.4;
}

.tab .description, .tab .tab-number{
    opacity: 0;
    height: 0px;
    transform: translateY(-10%);
    transition: all ease-out 0.6s;
}
.tab img {
    display: none;
}

.tab.active {
    opacity: 1;
}
.tab.active .description, .tab.active .tab-number {
    opacity: 1;
    transform: translateY(0);
    transition: all ease-in-out 1s;
    height: auto;
    /* max-height: 600px; */
}

.frame {
    height: 100%;
    /* min-height: 60vh; */
    width: 100%;
    position: relative; 
    overflow: hidden;
}
.frame::after {
    content: '';
    position: absolute;
    width: 250%;
    height: 250%;
    background-image: linear-gradient(150deg,rgba(65, 25, 2, 0.541), rgb(51, 33, 33) 30%,rgba(245, 90, 0, 0.76), rgba(236, 117, 6, 0.397) 100%);
    opacity: 0;
    pointer-events: none;
}
.frame.active::after {
    animation: film-burn 0.8s ease-out;
}

@keyframes film-burn {
    0% {
        top: 0;
        left: 0;
        opacity: 0.7;
    }
    30% {
        opacity: 0.9;
    }
    100% {
        top: -100%;
        left: -100%;
        opacity: 0;
    }
}

.relative img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: all 0.4s;
}
.relative img.active {
    opacity: 1;
    transform: unset;
    transition: 2s all;
}  


@media (max-width: 991px) {
    .relative {
        display: none;
    }
    #w-node-_5894e779-9873-bfa9-489d-3d7cea7aac57-668adc74 {
        grid-column-end: 7;
    }
    .tab img {
        display: block;
        height: 0;
        opacity: 0;
        object-fit: cover;
        transition: all 0.6s;
        width: 100%;
    }
    .tab.active img {
        opacity: 1;
        /* height: calc(30vh + 20vw); */

        margin: 2em 0;
    }
}
@media (max-width: 479px) {
    #w-node-_5894e779-9873-bfa9-489d-3d7cea7aac57-668adc74 {
        grid-column-end: span 4;
    }
    .tab.gridv8 {
        display: block;
    }
    .frame {
        min-height: 60vh;
    }
}
